.container{
    font-family: poppins;
}

.navbar-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 40px
}

.list{
    display:flex;
    list-style: none;
    color:grey;    
}

.grow-list{
    flex-grow: 2;
    justify-content: space-between
}

.list-item{
    margin-left: 20px;
}

.logo-image{
    margin-left: 90px;   
}

.logo-image > img {
    height: 40px;
}

.nav-button{
    background-color:#4301f7f8;
    color:white;
    border-radius: 0.6em;
    height:45px;
    width:120px;
    border: none;
    font-weight: 400;   
}

.button-group{
    flex:end;
    margin-right: 90px;
}

.list-item:hover{
    color:black;
    cursor: pointer;
}

.banner-container{
    display: flex;
    margin:0 90px;
    margin-top: 100px
}

.btn {
margin-top: 40px;
}

.heading{
    font-size: 60px;
    color:hsl(246, 79%, 19%);
    justify-content: space-between;
    line-height: 1.09;
    margin-bottom: 5px !important   
}

.description{
    display:flex;
    color: hsl(0, 3%, 54%);
    margin-right: 20px; 
    font-size: 12px;  
}

.bottom{
    margin-top: 92px; 
}

.btn{
    height: 55px;
    width: 148px;
}

span{
    color:rgb(10, 10, 161)
}

.right-image{
    margin-left: 60px;
}








  










    

